.about {
  background-color: $whiteColor;
  // .about__container

  &__container {
    background-image: url('@img/bg-houseplant.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 95px;
  }

  // .about__wrapper

  //   &__wrapper {
  //   }

  // .about__title

  &__title {
    padding-top: 160px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: $greenColor;
    max-width: 460px;
    width: 100%;
    & span {
      color: $orangeColor;
    }
  }

  // .about__text

  &__text {
    padding-bottom: 155px;
    margin-top: 40px;
    max-width: 605px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }
}
