.contacts {
  // .contacts__container

  &__container {
    background-image: url('@img/bg-contact.png');
    background-repeat: no-repeat;
    background-position: calc(0% + 10px) calc(100%);
    @media (max-width: $tablet) {
      background-size: 200px 250px;
      background-position: calc(50% + 10px) calc(100%);
    }
  }

  // .contacts__title

  &__title {
    margin-top: 60px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: $greenColor;
    text-align: center;
    @media (max-width: $tablet) {
      margin-top: 40px;
    }
  }

  // .contacts__wrapper

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 350px;
    @media (max-width: $tablet) {
      justify-content: center;
      padding-bottom: 500px;
    }
  }

  // .contacts__box

  &__box {
    margin-top: 37px;
    max-width: 450px;
    width: 100%;
    background: $greyGreenColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: $lightGrayColor;
    @media (max-width: $tablet) {
      margin-top: 100px;
    }
  }
}

.select-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.select-box .options-container {
  position: absolute;
  top: 100%;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  background: $greyGreenColor;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

  order: 1;
}

.selected {
  position: relative;
  order: 0;
  transition: background 0.3s ease;
  &:hover {
    background: $darkGreenColor;
  }
}

.selected::after {
  content: '';
  background: url(@img/icons/accordion_btn.svg);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 16px;
  width: 16px;
  right: 35px;
  top: 17px;

  transition: all 0.5s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
}

.select-box .options-container.active + .selected {
  background: $darkGreenColor;
}

.select-box .options-container.active + .selected::after {
  transform: rotate(180deg);
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
}

.select-box .options-container::-webkit-scrollbar-thumb {
}

.select-box .option,
.selected {
  padding: 15px 35px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.select-box .option:hover {
}

.select-box label {
  width: 100%;
  padding-bottom: 5px;
  color: $greenColor;
  cursor: pointer;
  border-bottom: 1px solid #d9d9d9;
  transition: all 0.3s ease;
  &:hover {
    color: $lightGrayColor;
    border-bottom: 1px solid #717171;
  }
}

.select-box .option .radio {
  display: none;
}
